@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth
}

html::-webkit-scrollbar {
  display: none;
}

.color-white {
  color: white
}

.navbar-fixed {
  @apply fixed z-[20] bg-opacity-80 bg-white inset-x-0;
  backdrop-filter: blur(5px);
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-dark
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

@media print {
  @page {
    size: A4;
    /* DIN A4 standard, Europe */
    margin: 0;
    size: auto;
  }

  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    -webkit-print-color-adjust: exact;
  }
}